<div class="container">
  <div class="grid">
    {{#each model as |project|}}
      <div class="grid__item">
        <h2>{{ project.name }}</h2>
        <p>{{ project.description }}</p>

        <p>{{percent project.earned project.goal}}% Funded</p>
        <p>${{ project.earned }} Raised</p>
        <p>${{ project.goal }} Goal</p>
      </div>
    {{/each}}
  </div>
</div>
