<div class="container">
  <div class="grid">
    {{#each model as |project|}}
      <div class="grid__item">
        <h2>{{ project.name }}</h2>
        <p>{{ project.description }}</p>

        <p>{{locale-number (percent project.earned project.goal)}}% Funded</p>
        <p>${{locale-number project.earned}} Raised</p>
        <p>${{locale-number project.goal}} Goal</p>
      </div>
    {{/each}}
  </div>
</div>
