{{outlet}}
<div class="container">
  <h1>Editing: {{ model.name }}</h1>

    {{#simple-form onsubmit=(action "saveForm") as |formValues|}}
    <p>
      {{input type="text" placeholder="Name" value=name}}
    </p>
    <p>
      {{input type="text" placeholder="Goal" value=goal}}
    </p>
    <p>
      {{textarea placeholder="Description" rows="8" cols="40" value=description}}
    </p>
    {{#link-to "project"}}Back{{/link-to}}
    <button type="submit" name="button">Save</button>
  {{/simple-form}}
  </div>
